<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FirebrandRouting">
          <routing filterTableName="FirebrandTable"/>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <routing>
      <filters>
        <filter name="FirebrandFilter" filterType="MatchAll"/>
      </filters>
      <filterTables>
        <filterTable name="FirebrandTable">
          <add filterName="FirebrandFilter"
               endpointName="Service801"
               backupList="FirebrandList"/>
        </filterTable>
      </filterTables>
      <backupLists>
        <backupList name="FirebrandList">
          <add endpointName="Service810"/>
        </backupList>
      </backupLists>
    </routing>
    <services>
      <service name="System.ServiceModel.Routing.RoutingService"
               behaviorConfiguration="FirebrandRouting">
        <endpoint address=""
                  name="requestReplyEndpoint"
                  binding="wsHttpBinding"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter"
                  />
        <endpoint address="OneWay"
                  name="oneWayEndpoint"
                  binding="wsHttpBinding"
                  contract="System.ServiceModel.Routing.ISimplexDatagramRouter"
                  />
      </service>
    </services>
    <client>
      <endpoint address="net.tcp://localhost:802/Sample/intra"
                binding="netTcpBinding"
                contract="*"
                name="Service801"
                />
      <endpoint address="http://localhost:810/Fake.svc/ws"
                binding="wsHttpBinding"
                contract="*"
                name="Service810"
                />
    </client>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
