<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="SimpleBinding" maxReceivedMessageSize="128000">
            <security mode="None" />
          </binding>
        </basicHttpBinding>
        <customBinding>
          <binding name="BinaryOverHttp">
            <binaryMessageEncoding />
            <httpTransport />
          </binding>
        </customBinding>
      </bindings>
      <services>
        <service name="Firebrand.SampleServiceB" behaviorConfiguration="SampleServiceBehavior">
          <endpoint name="restful" address="rest" binding="webHttpBinding"
                    behaviorConfiguration="MakeItRESTful"
                    contract="Firebrand.ISampleService"
                  />
          <endpoint name="custom" address="custom" binding="customBinding"
                    bindingConfiguration="BinaryOverHttp"
                    contract="Firebrand.ISampleService" />
          <endpoint name="simple" address="" binding="basicHttpBinding"
                    bindingConfiguration="SimpleBinding"
                    contract="Firebrand.ISampleService" />
          <endpoint name="advanced" address="ws" binding="wsHttpBinding"
                    contract="Firebrand.ISampleService" />
        </service>
        <service name="Firebrand.CalcDuplex"
                 behaviorConfiguration="CalcBehavior">
          <endpoint name="duplex"
                    address=""
                    binding="wsDualHttpBinding"
                    contract="Firebrand.ICalcDuplex"
                    />
        </service>
      </services>

      <behaviors>
        <serviceBehaviors>
          <behavior name="CalcBehavior">
            <serviceMetadata httpGetEnabled="true"/>
          </behavior>
                    
          <behavior name="SampleServiceBehavior">
            <serviceMetadata httpGetEnabled="true"/>
            <!--{baseaddress}?wsdl-->
            <serviceDebug includeExceptionDetailInFaults="true"/>
          </behavior>
        </serviceBehaviors>

        <endpointBehaviors>
          <behavior name="MakeItRESTful">
            <webHttp automaticFormatSelectionEnabled="true" helpEnabled="true"/>
          </behavior>
        </endpointBehaviors>

      </behaviors>
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
          multipleSiteBindingsEnabled="true" >
        
        <serviceActivations>
          <add relativeAddress="Fake.svc"
               service="Firebrand.SampleServiceB" />
          <add relativeAddress="Calc.svc"
               service="Firebrand.CalcDuplex" />
        </serviceActivations>
        
      </serviceHostingEnvironment>
    </system.serviceModel>
</configuration>
