<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExerciseBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Exercise06.Exercise" behaviorConfiguration="ExerciseBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:901/"/>
            <add baseAddress="net.pipe://localhost/"/>
            <add baseAddress="net.tcp://localhost:902/"/>
          </baseAddresses>
        </host>
        <endpoint name="Public"
                  address=""
                  binding="ws2007HttpBinding"
                  contract="Exercise06.IExercise"
                  />
        <endpoint name="Local"
                  address=""
                  binding="netNamedPipeBinding"
                  contract="Exercise06.IExercise"
                  />
        <endpoint name="Intranet"
                  address=""
                  binding="netTcpBinding"
                  contract="Exercise06.IExercise"
                  />
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>